.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.dot-active{
    background-color: #677381;   
}

.dot:hover{
    background-color: #9aa7b6;   
}

.indicator-holder{
    position : absolute;
    width : 100%;
    bottom : 40px;
    text-align : center;
}
.dot {
    border : 1px solid #677381;
    background-color : none;
    margin-right : 5px;
    cursor : pointer;
    display : inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;
}
.side-buttons{
    position: absolute;
    top : 50%;
    transform: translateY(-50%); /* Just to put side buttons in vertically middle of div */
    cursor : pointer;
    color:white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    background-color : #5a92a5;
    height : 40px;
    padding-top : 8px; 
    width : 40px;
    border-radius: 20px;
}
.side-buttons:hover{
    background-color : #677381;
}

.side-buttons:active{
    background-color: #76738d;
}



@media (max-width:425px){
    .carousel-container{
        height:250px !important;
    }
    .carousel-image-wrapper{
        height:250px !important;
    }

}
@media (max-width:768px){
    .carousel-container{
        height:350px;
    }
    .carousel-image-wrapper{
        height:350px;
    }
    .dot {
        height: 14px;
        width: 14px;
        border-radius: 7px;
    }
    .side-buttons{
        height : 52px;
        padding-top : 14px; 
        width : 52px;
        border-radius: 26px;
    }
    .left-btn{
        left: -25px;
        text-align: end;
        padding-right:12px;
    }
    .right-btn{
        right: -25px;
        text-align: start;
        padding-left:12px;
    }
    .indicator-holder{
        bottom : 20px;;
    }
}