.carousel-container{
    width:100%;
    max-width:1000px;
    height:550px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
}   
.carousel-image-wrapper{
    position: absolute;
    height:550px;
    display: inline-block;
}
.carousel-image-wrapper img{
    float: left;
    height:100%;
}
.carousel-container .controller{
    position: absolute;
    top: 700px;   
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}
.dot-active{
    background-color: #677381;   
}
.indicator-holder{
    position : absolute;
    width : 100%;
    bottom : 40px;
    text-align : center;
}
.dot {
    border : 1px solid #677381;
    background-color : none;
    margin-right : 5px;
    cursor : pointer;
    display : inline-block;
}
.side-buttons{
    position: absolute;
    top : 50%;
    cursor : pointer;
    color:white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    background-color : #677381;
}

@media (max-width:425px){
    .carousel-container{
        height:250px !important;
    }
    .carousel-image-wrapper{
        height:250px !important;
    }

}
@media (max-width:760px){
    .carousel-container{
        height:450px;
    }
    .carousel-image-wrapper{
        height:450px;
    }

}