.header .content-holder{
    margin-top:15px;
    padding-bottom: 15px;
}
.header .top-header {
    width:100%;
}
.header .logo{
    width:150px;
}
.header .logo img{
    width:100%;
}
.header .content-holder .side-bar div{
    display: inline-block;
}
.header .side-bar .cart{
    margin-right: 10px;
    position: relative;
}
.header .cart .notification-badge{
    color:white;
    font-size: 10px;
    background: #f9bf11;
    position: absolute;
    width:15px;
    height: 15px;
    border-radius: 7.5px;
    text-align:center;
    padding:2px;
    top:-2.5px;
    right:-7px;
}
.header .side-bar button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    color: #1c1105;
}
.header .search i{
    display: none;
}

/* header end */
/* search bar */
.search-bar .content-holder{
    border:1px solid grey;
    margin:10px;
}
.search-bar .content-holder input{
    width:90%;
    height:30px;
    text-indent: 10px;
    border: none;
}
.search-bar .content-holder button{
    font-size: 15px;
    background: none;
    border: none;
}
/* end search bar */
/* featured product */
.featured-product .content-holder{
    margin:20px 0px 0px 0px;
    padding:0px;
    width:100%;
}
.featured-product .middle-container{
    width:100%;
}
.featured-product .main-section{
    position: relative;
    background: grey;
    overflow: hidden;
    height: 180px;
    width:100%;
}
.featured-product .main-section:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.featured-product .main-section .details{
    z-index: 10;
    position: relative;
    color: black;
    margin: 13px 15px 10px 15px;
    line-height: 1.2;
}
.featured-product .featured-text{
    width:100%;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 10px 12px 10px;
}
.featured-product .featured-text .know-more{
    display:none;
}
.main-section .details ul li:last-child{
    display: none;
}
.details ul li div{
    display: inline-block;
}
.details ul li i{
    display: block;
}
.details ul li{
    padding-bottom: 8px;
}
.details .detail-icon{
    font-size: 18px;
    margin-right:6px;
}

.details .sub-details{
    font-size:1.2rem;
}
.details .sub-details .extra-detail{
    font-size:0.933rem;
}
.main-section .temp-more{
    z-index:10;
    position: absolute;
    right:0px;
    bottom: 10px;
    background: black;
    color:white;
    padding: 5px;
    font-size: 1rem;
}
.main-section .temp-more .temp-icon{
    color:#f9bf11;
}
.main-section .temp-more span{
    display:inline-block;
    margin-right:5px;
}
.main-section .temp-more div{
    display: inline-block;
}
/* --end featured product */
/* banner */
.banner a{
    color:white;
}
.banner .content-holder{
    padding:0px;
}
.banner .content-holder .ul-holder{
    width: 100%;
    padding: 0px 10px 0 10px;
    margin: 0 auto;
}
.banner ul{
    padding:15px 0px 15px 10px;
    font-size: 10px;
    display: inline-block;
    width: 100%;
}
.banner ul li{
    display: inline;
    margin: 0px 15px 0 15px;
}
.banner ul li:last-child{
    display: inline;
    margin-right: 0px;

}

.banner ul li:nth-child(4), .banner ul li:nth-child(5),.banner ul li:nth-child(6),.banner ul li:nth-child(7){
    display: none;
}
/* end banner */



@media (min-width:425px){
    html{
        font-size: 12px;
    }
    .banner .content-holder .ul-holder{
        width: 90%;
        margin: 0 auto;
    }
    .featured-product .main-section{
        height: 250px;
    }
    .banner ul li:nth-child(4){
        display: inline-block;
    }
}
@media (min-width: 768px){
    .featured-product .main-section:before{
        background-position: 50% 85%;
    }
    .content-holder{
        margin: 0 20px 0 20px;
    }
    .featured-product .featured-text{
        padding: 0px 20px 12px 20px;
    }
    .featured-product .main-section .details{
        margin: 20px 25px 10px 25px;
    }
    .featured-product .main-section{
        height: 300px;
    }
    .featured-product .featured-text{
        font-size: 25px;
    }
    .header .side-bar .search i{
        display:inline-block;
    }
    .header .side-bar >div{
        margin-right: 20px;
    }
    .header .side-bar .cart {
        margin-right: 20px;
    }
    .header .side-bar >div:last-child{
        margin-right: 0px;
    }
    .header .logo{
        width:184px;
    }
    .search-bar{
        display:none;
    }
    .main-section .temp-more{
        font-size: 1.1rem;
        padding: 10px;
    }
    .main-section .details ul li:last-child{
        display: list-item;
    }
    .details ul li{
        padding-bottom: 12px;
    }
    .banner .content-holder .ul-holder{
        width: 100%;
    }
    .banner ul li:nth-child(4), .banner ul li:nth-child(5),.banner ul li:nth-child(6),.banner ul li:nth-child(7){
        display: inline-block;
    }
}
 @media (min-width: 1024px){
    .featured-product .featured-text .know-more{
        display:block;
    }
     html{
        font-size: 15px;
     }
     .middle-container .left-arrow{
        cursor: pointer;
        position: absolute;
        z-index:20;
        top:50%;
        left: -38px;
        width:67px;
        height:64px;
        background-image: url('../images/holder-complete-yellow.png');
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
     }
     .middle-container .left-arrow:hover{
        background-image: url('../images/holder-left-dark.png');
     }
     .middle-container .right-arrow{
        cursor: pointer;
        position: absolute;
        z-index:20;
        top:50%;
        right: -38px;
        width:67px;
        height:64px;
        background-image: url('../images/holder-right-yellow.png');
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .middle-container .right-arrow:hover{
        background-image: url('../images/holder-complete-dark.png');
     }
     .featured-product .main-section{
        position: relative;
        background: none;
        overflow: hidden;
        height: auto;
        width:100%;
        margin-top:40px;
    }
    .featured-product .main-section:before{
        content: '';
        background:none;
        z-index: 1;
    }
    .featured-product .middle-container{
        border: 10px solid #f9bf11;
        position: relative;
        background: grey;
        height: 512px;
        width:80.47%;
        margin: 0 auto;
        max-width: 824px;
    }
    .featured-product .middle-container:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0.9;
        background-image: url('../images/desk.jpg');
        background-repeat: no-repeat;
        background-position: 50% 75%;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .featured-product .featured-text{
        font-size: 2rem;
        position: relative;
        width:88.05%;
        margin: 72px  auto  0px auto;
        padding:0px 0px 22px 0px;
        z-index: 20;
        border-bottom:2px solid black;
    }
    .featured-product .featured-text .inside-text{
        padding:10px;
    }
    .featured-product .featured-text .know-more{
        position: relative;
        font-size: 1rem;
        padding:16px 48px 16px 26px;
        background: black;
        color:white;
    }
    .featured-text .know-more .outside-arrow{
        position: absolute;
        bottom:-10px;
        right:-12px;
        background: #f9bf11;
        width: 30px;
        height: 30px;
    }
    .featured-text .know-more .outside-arrow:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 1;
        background-image: url('../images/fwd-white.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: auto;
        
    }
    .main-section .temp-more{
        display: none;
    }
    .featured-product .main-section .details{
        width:88.1%;
        margin:0 auto;
    }
    .main-section ul{
     padding:0px;
    }
    .main-section ul li{
        display:inline-block;
        width:31.95%;
        margin: 0 auto;
    }
    .main-section ul li:nth-child(1){
        display:inline-block;
        width:38.6%;
    }
    .main-section .details ul li:last-child{
        display:inline-block;
        width:27.8%;
    }
    .details .detail-icon{
        font-size: 2rem;
        margin-right: 16px;
    }
 }