.header .content-holder{
    margin-top:15px;
    padding-bottom: 15px;
}
.header .top-header {
    width:100%;
}
.header .logo{
    width:150px;
}
.header .logo img{
    width:100%;
}
.header .content-holder .side-bar div{
    display: inline-block;
}
.header .side-bar .cart{
    margin-right: 10px;
    position: relative;
}
.header .cart .notification-badge{
    color:white;
    font-size: 10px;
    background: #f9bf11;
    position: absolute;
    width:15px;
    height: 15px;
    border-radius: 7.5px;
    text-align:center;
    padding:2px;
    top:-2.5px;
    right:-7px;
}
.header .side-bar button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    color: #1c1105;
}
.header .side-bar .cart > span{
    display: none;
}
.header .search i{
    display: none;
}

/* header end */
/* search bar */
.search-bar .content-holder{
    border:1px solid grey;
    margin:10px;
}
.search-bar .content-holder input{
    width:90%;
    height:30px;
    text-indent: 10px;
    border: none;
}
.search-bar .content-holder button{
    font-size: 15px;
    background: none;
    border: none;
}
/* end search bar */
/* dropdown */
.drop-down{
    display: none;
    padding-top:20px;
    padding-bottom: 20px;
    background: black;
}
#drop-down{
    display: none;
}
.drop-down a{
    color:white;
}
.drop-down ul .active a{
    color: #f9bf11;
}
.drop-down ul li{
    margin-top:15px;
    font-size: 1.2rem;
}
.drop-down ul .active{
    margin-top:0px;
}
.drop-down .user{
    margin-top: 50px;
}
.drop-down ul a:hover{
    color: #B4AA99;
}
/* end dropdown */
/* featured product */
.featured-product{
    margin:20px 0px 0px 0px;
}
.featured-product .content-holder{
    
    padding:0px;
    width:100%;
}
.featured-product .middle-container{
    width:100%;
}
.featured-product .main-section{
    position: relative;
    background: grey;
    overflow: hidden;
    height: 180px;
    width:100%;
}
.featured-product .main-section:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.featured-product .main-section .details{
    z-index: 10;
    position: relative;
    color: black;
    margin: 13px 15px 10px 15px;
    line-height: 1.2;
}
.featured-product .featured-text{
    width:100%;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 10px 12px 10px;
}
.featured-product .featured-text .know-more{
    display:none;
}
.main-section .details ul li:last-child{
    display: none;
}
.main-section .details ul li div{
    display: inline-block;
}
.main-section .details ul li i{
    display: block;
}
.main-section .details ul li{
    padding-bottom: 8px;
}
.main-section .details .detail-icon{
    font-size: 18px;
    margin-right:6px;
}

.main-section .details .sub-details{
    font-size:1.2rem;
}
.main-section .details .sub-details .extra-detail{
    font-size:0.933rem;
}
.main-section .temp-more{
    z-index:10;
    position: absolute;
    right:0px;
    bottom: 10px;
    background: black;
    color:white;
    padding: 5px;
    font-size: 1rem;
}
.main-section .temp-more .temp-icon{
    color:#f9bf11;
}
.main-section .temp-more span{
    display:inline-block;
    margin-right:5px;
}
.main-section .temp-more div{
    display: inline-block;
}
/* --end featured product */
/* banner */
.banner{
    display: none;
}
.banner a{
    color:white;
}
.banner .content-holder{
    padding:0px;
    text-align: center;
}
.banner ul{
    padding:15px 0px 15px 10px;
    font-size: 0.93rem;
    display: inline-block;
    margin: 0 auto;
}
.banner ul li{
    display: inline-block;
    margin: 0px 15px 0 15px;
}
.banner ul li:last-child{
    display: inline;
    margin-right: 0px;
}
.banner ul .active a{
    color: #f9bf11;
}
.banner ul a:hover{
    color: #B4AA99;
}
.banner ul li:nth-child(4), .banner ul li:nth-child(5),.banner ul li:nth-child(6),.banner ul li:nth-child(7){
    display: none;
}
/* end banner */
/* showcase */
.showcase{
    margin-top: 20px;
}
.showcase .content-holder{
    position: relative;
    border-bottom:2px solid #f7f7f7;
}
.showcase ul{

    display:inline-block;
    width: auto;
    width:100%;
    
}
.showcase .showcase-ul-holder{
    width:100%;
    margin:0 auto;
    text-align: center;
    margin-bottom:40px;
}
.showcase ul li .sub-showcase{
    width:89.67%;
    height:114px;
    background:none;
    float:right;
    margin-top:22px;
    border-left:6px solid white;
    border-top:6px solid white;
}
.showcase ul li{
    display:inline-block;
    position: relative;
    z-index: 2;
    padding:20px 0 0 34px;
    background:none;  
    font-size: 1.06rem;
    width:100%;
    min-width: 300px;
    max-width: 320px;
    text-align: start;
}
.showcase ul li:first-child:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
    background-image: url('../images/couch.jpg');
    background-repeat: no-repeat;
    background-position: 50% 70%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.showcase ul li:nth-child(2),.showcase ul li:nth-child(3){
    display: none;
}
.showcase ul li:nth-child(2):before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
    background-image: url('../images/arm-chair2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.showcase ul li:nth-child(3):before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
    background-image: url('../images/bedroom.jpg');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.showcase ul li::after{
    clear: both;
    content: '';
    display: table;
}
.showcase .arrow-holders{
    margin-left: -50px;
    position: absolute;
    z-index:50;
    bottom:-16px;
    left:50%;
    width:100px;
}
.showcase .arrow-holders div{
    display:inline-block;
}
.showcase .sm-left-arrow{
    cursor: pointer;
    width:39px;
    height:36px;
    background-image: url('../images/holder-sm-left-default.png');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.showcase .sm-right-arrow{
    cursor: pointer;
    width:39px;
    height:36px;
    background-image: url('../images/holder-sm-right-default.png');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.showcase .sm-right-arrow:hover{
    background-image: url('../images/holder-sm-right-hover.png');
}
.showcase .sm-left-arrow:hover{
    background-image: url('../images/holder-sm-left-hover.png');
}
.showcase .showcase-ul-holder .sec-know-more{
    display:none;
    position: relative;
    font-size: 1rem;
    padding:16px 48px 16px 26px;
    background: black;
    color:white;
    width: 158.73px;
    margin: 10px 0px 0px 36px;
}
.showcase  .sec-know-more .outside-arrow{
    position: absolute;
    bottom:-10px;
    right:-12px;
    background: #f9bf11;
    width: 30px;
    height: 30px;
}
.showcase  .sec-know-more .outside-arrow::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    background-image: url('../images/fwd-white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
/* end showcase */
/* latest-products */
.latest-furniture .content-holder{
    position: relative;
    border-bottom: 2px solid #f7f7f7;
}
.latest-furniture .arrow-holders{
    margin-left: -50px;
    position: absolute;
    z-index:50;
    bottom:-16px;
    left:50%;
    width:100px;
}
.latest-furniture .ul-holder{
    margin-bottom: 40px;
}
.latest-furniture .arrow-holders div{
    display:inline-block;
}
.latest-furniture .sm-left-arrow{
    cursor: pointer;
    width:39px;
    height:36px;
    background-image: url('../images/holder-sm-left-default.png');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-furniture .sm-right-arrow{
    cursor: pointer;
    width:39px;
    height:36px;
    background-image: url('../images/holder-sm-right-default.png');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-furniture .sm-right-arrow:hover{
    background-image: url('../images/holder-sm-right-hover.png');
}
.latest-furniture .sm-left-arrow:hover{
    background-image: url('../images/holder-sm-left-hover.png');
}
.latest-furniture .showcase-ul-holder .sec-know-more{
    display:none;
    position: relative;
    font-size: 1rem;
    padding:16px 48px 16px 26px;
    background: black;
    color:white;
    width: 158.73px;
    margin: 10px 0px 0px 36px;
}
.latest-furniture .sec-know-more .outside-arrow{
    position: absolute;
    bottom:-10px;
    right:-12px;
    background: #f9bf11;
    width: 30px;
    height: 30px;
}
.latest-furniture .sec-know-more .outside-arrow::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    background-image: url('../images/fwd-white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-furniture .heading-furniture{
    font-size:20px;
}  
.latest-furniture ul{
    text-align: center;
    margin-top:20px;
}
.latest-furniture ul li{
    position: relative;
    text-align: center;
    display:inline-block;
    width:100%;
    max-width: 300px;
    border: 1px solid #ededed;
}
.latest-furniture li .extra-content{
    position: absolute;
    top:20px;
    left:14px;
    padding: 10px;
    font-size: 10px;
    
    color:white;
}
.latest-furniture li .black{
    background-color: black;
}
.latest-furniture li .yellow{
    background-color: #f9bf11;
}
.latest-furniture ul li .image-holder{
    height:160px;
    background-image: url('../images/latest-1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-furniture li .sub-text{
    padding: 15px 25px 0px 25px;
    line-height: 1.4;
}
.latest-furniture li .sub-text p{
    margin-top: 10px;
}
.latest-furniture li .sub-text .price{
    color: #f9bf11;
    font-size: 1.2rem;
}
.latest-furniture li .add-cart-button{
    background: #f9bf11;
    margin-top:24px;
    color:white;
    font-size: 1rem;
    padding:16px 0px 16px 0px;
    cursor: pointer;
}
.latest-furniture li .add-cart-button:hover{
    background: #C79400;
}
.latest-furniture li .add-cart-button:active{
    background: #976B00;
}
.latest-furniture li .add-cart-button i{
    margin-right:8px;
}
.latest-furniture .sub-text .header-card{
    font-size: 1rem;
}
.latest-furniture li .sub-text .card-details{
    margin-top:20px;
    color:grey;
}
.latest-furniture li{
    display: inline-block;
}
.latest-furniture li:nth-child(2), .latest-furniture li:nth-child(3), .latest-furniture li:nth-child(4){
    display: none;
}
/* end latest products */

/*why us*/
.why-us .content-holder{
    background-color: #28231d;
    color: white;
    padding-top:20px;
    padding-bottom:20px;
}
.why-us .why-contents .why-us-container{
    max-width: 560px;
    margin: 0 auto;
}
.why-us .why-contents .why-us-container >p{
    margin-top:15px;
    line-height: 1.2;
    font-size: 1rem;
}
.why-us .why-contents .why-text{
    font-size: 1.6rem;
}
.why-us .why-contents .why-text:after{
    content: ""; 
    display: block;  
    width: 15%; 
    max-width: 66px;
    padding-top: 10px; 
    border-bottom: 1px solid #f9bf11; 
}
.why-us .why-contents .dropdowns{
    position: relative;
    margin-top:16px;
    padding: 20px 0px 18px 20px;
    border: 1px solid white;
    width: 95%;   
    font-size: 1rem;
}
.why-us .why-contents .dropdowns:hover{
   background: white;
   color: black;
   cursor: pointer;
}
.why-us .why-contents .dropdowns:active{
    background: #B1BDC5;
    color: black;
 }
.why-us .why-contents .top {
    margin-top: 20px;
}
.why-us .why-contents .outer-button{
    width:30px;
    height: 30px;
    position: absolute;
    right:-15px;
    top: calc(50% - 15px);
    background : #f9bf11;
}
.why-us  .image-why-us{
    display: none;
}
.why-us .why-contents .outer-button img{
    position: relative;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
}
/* --end why us */
/* latest posts*/
.latest-posts .content-holder{
    position: relative;
    border-bottom: 2px solid #f7f7f7;
}
.latest-posts .arrow-holders{
    margin-left: -50px;
    position: absolute;
    z-index:50;
    bottom:-16px;
    left:50%;
    width:100px;
}
.latest-posts .ul-holder{
    margin-bottom: 40px;
    margin-top:20px;
}
.latest-posts .arrow-holders div{
    display:inline-block;
}
.latest-posts .sm-left-arrow{
    cursor: pointer;
    width:39px;
    height:36px;
    background-image: url('../images/holder-sm-left-default.png');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-posts .sm-right-arrow{
    cursor: pointer;
    width:39px;
    height:36px;
    background-image: url('../images/holder-sm-right-default.png');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-posts .sm-right-arrow:hover{
    background-image: url('../images/holder-sm-right-hover.png');
}
.latest-posts .sm-left-arrow:hover{
    background-image: url('../images/holder-sm-left-hover.png');
}
.latest-posts .heading-posts{
    font-size:20px;
}  
.latest-posts ul{
    text-align: center;
    width:100%;
}
.latest-posts ul li{
    position: relative;
    text-align: center;
    display:inline-block;
    width:100%;
    max-width: 330px;
}
.latest-posts .bottom-holder{
    margin-top:19px;
}
.latest-posts .bottom-holder .date{
    padding:12px 16px 10px 16px;
    border:1px solid #dedede;
    font-size: 1.26rem;
}
.latest-posts .bottom-holder .details{
    width: 78%;
    text-align: start;
    font-size: 1.1rem;
}
.latest-posts .details .span-holder{
    font-size: 0.93rem;
    display: inline-block;
}
.latest-posts .details .sub-text{
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 6px;
    color:grey;
}
.latest-posts .details ul{
    margin-top: 6px;
}
.latest-posts  .date .text{
    font-size: 0.8rem;
}
.latest-posts li .black{
    background-color: black;
}
.latest-posts li .yellow{
    background-color: #f9bf11;
}
.latest-posts ul li .image-holder{
    height:160px;
    max-height: 196px;
    background-image: url('../images/outdoor-furniture.jpg');
    background-repeat: no-repeat;
    background-position: 50% 80%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.latest-posts .details ul {
    text-align: start;   
}
.latest-posts .details a{
    color:#f9bf11;
}
.latest-posts .details a:hover{
    color:#B4AA99;
}
.latest-posts .details ul li{
    width: auto;
    margin-right:10px;
}
.latest-posts .ul-holder > ul > li:nth-child(2),.latest-posts .ul-holder > ul >li:nth-child(3){
    display: none;
}
.latest-posts .bottom-holder .details .post-heading a{
    color:black;
}
.latest-posts .bottom-holder .details .post-heading a:hover{
    color:#f9bf11;
}
/* end latest posts*/
/*discounts*/
.discounts .content-holder{
    background-color: #323232;
    color: white;
    padding-top:20px;
    padding-bottom:20px;
}
.discounts .discounts-contents{
    max-width: 526px;
    margin: 0 auto;
}
.discounts .discounts-contents >p{
    margin-top:15px;
    line-height: 1.2;
    font-size: 1rem;
}
.discounts .discounts-contents .discounts-text{
    font-size: 1.6rem;
}
.discounts .discounts-contents .discounts-text:after{
    content: ""; 
    display: block;  
    width: 15%; 
    max-width: 66px;
    padding-top: 10px; 
    border-bottom: 1px solid #f9bf11; 
}
.discounts form{
    margin-top: 15px;
    width:100%;
}
.discounts form input{
    width:100%;
    background: none;
    border:1px solid white;
    color:white;
    font-size: 0.8rem;
    padding:16px 0 16px 0;
    text-indent: 14px;
    max-width: 254px;
}
.discounts form input:nth-child(2){
    margin-top: 10px;
}
.discounts form input::placeholder{
    opacity: 1;
    color: white;
}
.discounts form .button{
    margin-top:20px;
    padding: 14px 0px 14px 42px;   
    background: white;   
    color:black;
    position: relative;
    width: 156px;
    cursor: pointer;
}
.discounts form .button:hover{
    background: #B1BDC5;
    color:white;
}
.discounts form .button:active{
    background: #889FA5;
    color:white;
}
.discounts form .button .outside-button{
    position: absolute;
    bottom: -10px;
    right: -12px;
    background: #f9bf11;
    width: 30px;
    height: 30px; 
    
}
.discounts form .button .outside-button:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    background-image: url(../images/fwd-white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: auto;
}
/* --end why us */
/* new collection */
.new-collection .content-holder{
    position: relative;
}
.new-collection .arrow-holders{
    margin-left: -50px;
    position: absolute;
    z-index:50;
    bottom:-16px;
    left:50%;
    width:100px;
}

.new-collection .content-holder span{
    font-size: 1.5rem;
}
.new-collection .content-holder .showing{
    margin-top: 15px;
}
.new-collection .content-holder select{
    margin-left:20px;
    width: 100px;
    display: inline-block;
    font-size: 1rem;
    color:white;
    border: none;
    padding:5px 10px 5px 10px;
    -moz-appearance:none !important;
    background: #f9bf11 url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
	-webkit-appearance: none;
	appearance: none;
}
.new-collection .heading-collection{
    font-size:20px;
} 
.new-collection .showing span{
    font-size: 1.2rem;
}
.new-collection .ul-holder img{
    display: block;
    width: 100%;
    height: 100%;
}
.new-collection .ul-holder .overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f9bf11;
    color:white;
}
.new-collection .ul-holder .text{
    position: relative;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    padding: 0px 36px 0px 36px;
}
.new-collection .ul-holder .text p{
    margin-bottom: 10px;
    line-height: 1.3;
}
.new-collection .ul-holder .text p:nth-child(2){
    font-size: 1.6rem;
}
.new-collection ul{
    text-align: center;
    width:100%;
}
.new-collection .ul-holder ul li{
    display: inline-block;
    position: relative;
    width:100%;
    height: 200px;
    max-width: 300px;
    margin-top: 15px;
}
.new-collection .ul-holder  ul li:hover .overlay{
    opacity: 1;
}
.new-collection .ul-holder ul li:nth-child(3){
    margin-left:20px;
    display:none;
}
.new-collection .ul-holder .sec-ul{
    margin-top:20px;
}
.new-collection .ul-holder .sec-ul li{
    margin-left:20px;
    display:none;
    cursor: pointer;
}
.new-collection .select-collection ul{
    display: none;
}
/* end new collection */
/* contact us */
.contact-us .content-holder{
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
}
.contact-us .contact-form{
    display: none;
}
.contact-us .details .heading{
    font-size: 2.3rem;
}
.contact-us .contact-heading .get-in-touch{
    margin-top:8px;
    font-size: 1.2rem;
    font-weight: 200;
}
.contact-us .details .lower{
    margin-top:26px;
}
.contact-us .details .lower-heading{
    margin-bottom: 15px;
}
/* end contact us */
/*footer start */
.footer ,.footer a{
    color: #5d5144;
}
.footer .content-holder{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .main-footer{
    max-width: 272px;
    margin: 0 auto;
}
.footer .main-text{
    border-bottom:1px solid #281909;
    padding-bottom: 20px;
}
.footer .main-text p:nth-child(2){
    margin-top: 20px;
}
.footer .main-text >p{
    font-size: 1.2rem;
}
.footer .main-text .more{
    margin-top:20px;
    position: relative;
    cursor: pointer;
}
.footer .main-text .more > div{
    display: inline-block;
}
.footer .main-text .more span{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color : #f9bf11;
}
.footer .main-text .image-holder{
    width:20px;
    height:20px;
    border: 1px solid #f9bf11;
    position: relative;
    margin-right: 14px;
}
.footer .main-text .image-holder:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    background-image: url(../images/forward.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: auto;
}
.footer .links{
    margin-top: 20px;
}
.footer .links ul {
    text-align: center;
    width: 100%;
}
.footer .links ul li{
    text-align: start;
    position: relative;
    display: inline-block;
    width:112px;
    margin-top: 15px;
}
.footer .links ul li:nth-child(even){
    margin-left: 40px;
}
.footer .links ul li:nth-child(1),.footer .links ul li:nth-child(2){
    margin-top: 0px;
}
.footer .links li .links-logo{
    width: 30px;
    height:30px;
    background: #5d5143;
    position: relative;
    color:white;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    margin-right: 8px;
}
.footer .links li .links-logo i{
    position: absolute;
    top: 7.5px;
    left: 50%;
    transform: translateX(-50%);
}
.footer .links li .find-us-text{
    display:inline-block;
    font-size: 1.2rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.footer .links li .find-us-text p:nth-child(2){
    font-size: 1rem;
    line-height: 1.2;
}
.footer .left-part-footer .latest-heading{
    font-size: 1rem;
    color:white;
}
.footer .left-part-footer .latest-heading::after{
    content: "";
    display: block;
    max-width: 66px;
    padding-top: 10px;
    border-bottom: 1px solid #f9bf11;
}
.footer .left-part-footer .products-column{
    display:none;   
}
.footer .products-column ul{
    width:100%;
    max-width:230px;
    margin-top: 15px;
}
.footer .products-column ul li:first-child{
    margin-top: 0px;
}

.footer .products-column ul li{
    margin-top: 20px;
    width:230px;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #281909
}
.footer .products-column ul li:last-child{
    border-bottom: none;
}
.footer .products-column ul li >div{
    display: inline-block;
}
.footer .products-column li .f-details{
    position: absolute;
    top:0;   
}
.footer .products-column li .f-details p:first-child{
    font-size: 1.06rem;
}
.footer .products-column li .f-details .price{
    color: #f9bf11;
    margin-top: 22px;
    font-size: 1.2rem;
}
.footer .products-column li .f-details .price s{
    color: #5d5144;
    font-size: 1rem;
}
.footer .products-column li .f-image-holder{
    width: 77px;
    height: 77px;
    background : #442f19;
    margin-right: 18px;
}
.footer .products-column li .f-image-holder img{
    width: 100%;
    height: 100%;
}
.footer .products-column li .stars{
    color: #f9bf11;
    margin-top: 10px;
    font-size: 0.7rem;
}
.footer .products-column li .stars .un{
    color: #442f19;
}
.footer .right-part-footer{
    display: none;
} 

.footer .insta-columns{
    display: none;
}
@media (min-width:425px){
    html{
        font-size: 12px;
    }
    .featured-product .main-section{
        height: 250px;
    }
    .banner ul li:nth-child(4){
        display: inline-block;
    }
    .latest-furniture .heading-furniture{
        text-align: center;
        text-transform: uppercase;
    }
    .latest-posts .heading-posts{
        text-align: center;
        text-transform: uppercase;
    }
    .new-collection .heading-collection{
        text-align: center;
        text-transform: uppercase;
    }
    .new-collection .showing{
        text-transform: uppercase;
        text-align: center;
    }
}
@media (min-width: 768px){
    .banner{
        display: block;
    }
    .banner ul .active {
        margin-left:0px;
    }
    .showcase{
        margin-top: 40px;
    }
    .showcase .arrow-holders{
        bottom: -18px;
        margin-left: -60px;
    }
    .showcase .showcase-ul-holder{
        margin-bottom:60px;
    }
    .content-holder {
        padding: 0px 30px 0px 30px;
    }
    .latest-furniture .heading-furniture{
        font-size:1.6rem;
    }
    .featured-product .main-section:before{
        background-position: 50% 85%;
    }
    .featured-product .featured-text{
        padding: 0px 20px 12px 20px;
    }
    .featured-product .main-section .details{
        margin: 20px 25px 10px 25px;
    }
    .featured-product .main-section{
        height: 300px;
    }
    .featured-product .featured-text{
        font-size: 25px;
    }
    .header .side-bar .search i{
        display:inline-block;
    }
    .header .side-bar >div{
        margin-right: 20px;
    }
    .header .side-bar .cart {
        margin-right: 20px;
    }
    .header .side-bar >div:last-child{
        margin-right: 0px;
    }
    .header .logo{
        width:184px;
    }
    .search-bar{
        display:none;
    }
    .main-section .temp-more{
        font-size: 1.1rem;
        padding: 10px;
    }
    .main-section .details ul li:last-child{
        display: list-item;
    }
    .main-section .details ul li{
        padding-bottom: 12px;
    }
    .banner ul li:nth-child(4),.banner ul li:nth-child(5),.banner ul li:nth-child(6),.banner ul li:nth-child(7){
        display: inline-block;
    }
    .showcase ul li:nth-child(2){
        display:inline-block;
        margin-left:20px;
    }
    .showcase .sm-left-arrow{
        width:50px;
        height:46px;
    }
    .showcase .sm-right-arrow{
        width:50px;
        height:46px;
    }
    .showcase .arrow-holders{
        width:120px;
    }
    .latest-furniture ul li{
        max-width: 266px;
    }
    .latest-furniture li:nth-child(2){
        margin-left: 20px;
        display: inline-block;
    }
    .latest-furniture ul li:nth-child(2) .image-holder{
        background-image: url('../images/old-furniture.jpg');
    }
    .latest-furniture .heading-furniture::after{
        content: ""; 
        display: block; 
        margin: 0 auto;
        width: 8%;
        padding-top: 20px; 
        max-width: 66px;
        border-bottom: 3px solid #e7e7e7; 
    }
    .latest-furniture .sm-left-arrow{
        width:50px;
        height:46px;
    }
    .latest-furniture .sm-right-arrow{
        width:50px;
        height:46px;
    }
    .latest-furniture .arrow-holders{
        width:120px;
        margin-left:-60px;
    }
    .latest-furniture .ul-holder{
        margin-bottom: 60px;
    }
    .latest-posts .heading-posts{
        font-size:1.6rem;
    }
    .latest-posts .ul-holder > ul >li:nth-child(2){
        margin-left: 20px;
        display: inline-block;
    }
    .latest-posts ul li:nth-child(2) .image-holder{
        background-image: url('../images/gaino-collection.jpg');
    }
    .latest-posts .heading-posts::after{
        content: ""; 
        display: block; 
        margin: 0 auto;
        width: 8%;
        max-width: 66px;
        padding-top: 20px; 
        border-bottom: 3px solid #e7e7e7;  
    }
    .latest-posts .sm-left-arrow{
        width:50px;
        height:46px;
    }
    .latest-posts .sm-right-arrow{
        width:50px;
        height:46px;
    }
    .latest-posts .arrow-holders{
        width:120px;
        margin-left:-60px;
    }
    .latest-posts .ul-holder{
        margin-bottom: 60px;
    }
    .discounts form input:nth-child(2){
        margin-left:14px;
    }
    .discounts form .button{
        padding: 18px 0px 18px 42px;   
    }
    .new-collection .heading-collection {
        font-size: 1.6rem;
    }
    .new-collection .heading-collection::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 8%;
        padding-top: 15px;
        border-bottom: 3px solid #e7e7e7;
    }
    .new-collection .ul-holder ul li:nth-child(2){
        margin-left:20px;
    }
    .new-collection .ul-holder .sec-ul li{
        margin-left:20px;
        display: inline-block;
    }
    .new-collection .ul-holder .sec-ul li:nth-child(3){
        display: none;
    }
    .new-collection .ul-holder .sec-ul li:first-child{
        margin-left:0px;
    }
    .contact-us .contact-middle{
        width:632px;
        margin:0 auto;
    }
    .contact-us .contact-middle >div{
        display: inline-block;
    }
    .contact-us  .contact-form form input{
        display:block;   
        padding: 12px 0px 12px 0px;
        width: 400px;
        text-indent: 20px;
        margin-bottom: 16px;
        background-color: #f7f7f7;
        border:1px solid #c0c0c0;
    }
    .contact-us .contact-form form textarea{
        display:block;   
        padding: 12px 0px 12px 0px;
        width: 400px;
        text-indent: 20px;
        background-color: #f7f7f7;
        border:1px solid #c0c0c0;
    }
    .contact-us .contact-form form .button {
        padding: 18px 0px 18px 42px;
    }
    .contact-us .contact-form form .button {
        margin-top: 20px;
        padding: 14px 0px 14px 42px;
        background: #1b1105;
        color: white;
        position: relative;
        width: 156px;
        cursor: pointer;
    }
    .contact-us .contact-form form .button:hover {
        background: #B9B9B9;
    }
    .contact-us .contact-form form .button:active {
        background: #8A959D;
    }
    
    .contact-us form .button .outside-button{
        position: absolute;
        bottom: -8px;
        right: -12px;
        background: #f9bf11;
        width: 25px;
        height: 25px;
    }
    .contact-us form .button .outside-button:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 1;
        background-image: url(../images/fwd-white.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: auto;
    }
    .footer .left-part-footer .products-column{
        display: inline-block;   
    }
    .footer .whole-footer{
        width:566px;
        margin: 0 auto;  
    }
    .footer .left-part-footer{
        float:left;
        width: 564px;
    }
    .footer .left-part-footer .main-footer{
        float: left;
    }
    .footer a:hover{
        color:white;
    }
}
 @media (min-width: 1024px){
    .content-holder {
        padding: 0px 30px 0px 30px;
    }
    
    .header{
         box-shadow:none;
     }
    .header .side-bar span{
        display: inline-block !important;
    }
     
    .header .content-holder{
        margin-top:30px;
    }
    .header .cart .notification-badge {
        display: none !important;
    }
    .header .side-bar .cart span{
        font-size: 2rem;
    }
    .header .side-bar .cart sup{
        font-size: 0.8rem;
    }
    .header .side-bar .search{
        margin-right:40px;
    }
    .featured-product .featured-text .know-more{
        display:block;
    }
     html{
        font-size: 15px;
     }
     .middle-container .left-arrow{
        cursor: pointer;
        position: absolute;
        z-index:20;
        top:50%;
        left: -38px;
        width:67px;
        height:64px;
        background-image: url('../images/holder-complete-yellow.png');
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
     }
     .middle-container .left-arrow:hover{
        background-image: url('../images/holder-left-dark.png');
     }
     .middle-container .right-arrow{
        cursor: pointer;
        position: absolute;
        z-index:20;
        top:50%;
        right: -38px;
        width:67px;
        height:64px;
        background-image: url('../images/holder-right-yellow.png');
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .middle-container .right-arrow:hover{
        background-image: url('../images/holder-complete-dark.png');
    }
     .featured-product {
        margin:52px 0 0 0;
    }
     .featured-product .main-section{
        position: relative;
        background: none;
        overflow: hidden;
        height: auto;
        width:100%;
        margin-top:40px;
    }
    .featured-product .main-section:before{
        content: '';
        background:none;
        z-index: 1;
    }
    .featured-product .middle-container{
        border: 10px solid #f9bf11;
        position: relative;
        background: grey;
        height: 512px;
        width:826px;
        margin: 0 auto;
        max-width: 824px;
    }
    .featured-product .middle-container:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0.9;
        background-image: url('../images/desk.jpg');
        background-repeat: no-repeat;
        background-position: 50% 75%;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .featured-product .featured-text{
        font-size: 2rem;
        position: relative;
        width:88.05%;
        margin: 72px  auto  0px auto;
        padding:0px 0px 22px 0px;
        z-index: 20;
        border-bottom:2px solid black;
    }
    .featured-product .featured-text .inside-text{
        padding:10px;
    }
    .featured-product .featured-text .know-more{
        position: relative;
        font-size: 1rem;
        padding:16px 48px 16px 26px;
        background: black;
        color:white;
    }
    .featured-product .featured-text .know-more:hover {
        background: #B9B9B9;
    }
    .featured-product .featured-text .know-more:active {
        background: #8A959D;
    }
    .featured-text .know-more .outside-arrow{
        position: absolute;
        bottom:-10px;
        right:-12px;
        background: #f9bf11;
        width: 30px;
        height: 30px;
    }
    .featured-text .know-more .outside-arrow:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 1;
        background-image: url('../images/fwd-white.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: auto;
        
    }
    .main-section .temp-more{
        display: none;
    }
    .featured-product .main-section .details{
        width:88.1%;
        margin:0 auto;
    }
    .main-section ul{
     padding:0px;
    }
    .main-section ul li{
        display:inline-block;
        width:31.95%;
        margin: 0 auto;
    }
    .main-section ul li:nth-child(1){
        display:inline-block;
        width:38%;
    }
    .main-section .details ul li:last-child{
        display:inline-block;
        width:27.8%;
    }
    .main-section .details .detail-icon{
        font-size: 2rem;
        margin-right: 16px;
    }
    .banner{
        margin: 100px 10px 0px 0px;
    }
    .banner ul{
        padding:30px 0px 30px 10px;
        font-size: 0.93rem;
    }
    .latest-furniture li:nth-child(3){
        margin-left: 20px;
        display: inline-block;
    }
    .latest-furniture ul li:nth-child(3) .image-holder{
        background-image: url('../images/get-ready.jpg');
    }
    .why-us .content-holder {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .latest-posts .ul-holder > ul >li{
        max-width: 360px;
    }
    .latest-furniture {
        width: 100%;
        margin-top: 80px;
    }
    .latest-furniture ul {
        margin-top: 40px;
    }
    .latest-posts .bottom-holder .details {
        font-size: 1.2rem;
    }
    .latest-posts .details ul{
        font-size: 0.93rem;
    }
    .discounts .content-holder {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .new-collection .ul-holder ul li:nth-child(3){
        display: inline-block;
    }
    .new-collection .showing{
        display: none;
    }
    .new-collection .select-collection ul{
        display: inline-block;
        margin-top:18px;
        cursor: pointer;
    }
    .new-collection .select-collection ul li:hover{
        background: #f9bf11;
        border-color: #f9bf11;
    }
    .new-collection .select-collection ul li:hover a{
        color: white;
    }
    .new-collection .select-collection ul li{
        width: 120px;
        padding: 12px 0 12px 0;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        border:1px solid #d5d5d5;
        margin-left: 12px;
    }
    .new-collection .select-collection ul li:first-child{
        margin-left: 0px;
    }
    .new-collection .ul-holder ul li{
        margin-top: 0px;
    }
    .new-collection .ul-holder{
        margin-top: 33px;
    }
    .new-collection .ul-holder .sec-ul li:nth-child(3){
        margin-left: 20px;
        display: inline-block;
    }

    .contact-us .content-holder{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contact-us .contact-middle{
        width:800px;
    }
    .contact-us  .contact-form form input{
        width: 500px;
    }
    .contact-us .contact-form form textarea{
        width: 500px;
        height: 130px;
    }
    .contact-us .contact-form form .button {
        padding: 18px 0px 18px 42px;
    }
    .contact-us .contact-form form .button {
        margin-top: 20px;
        padding: 14px 0px 14px 42px;
        background: #1b1105;
        color: white;
        position: relative;
        width: 156px;
    }
    .contact-us form .button .outside-button{
        bottom: -12px;
        right: -12px;
        width: 30px;
        height: 30px;
    }
    .footer .whole-footer{
        width: 880px;
        margin:0 auto;   
        padding-bottom: 76px;
        border-bottom: 1px solid #281909;
    }
    .footer .main-text >p {
        font-size: 1rem;
    }
    .footer .links li .find-us-text{
        font-size: 1rem;
    }
    .footer .links li .find-us-text p:nth-child(2){
        font-size: 0.8rem;
    }
    .footer .left-part-footer {
        float: left;
    }
    .footer .right-part-footer{
        display: inline-block;
    } 
    .footer .right-part-footer{
        float:right;
        width: auto;
    }
    .footer .right-part-footer .latest-heading {
        font-size: 1rem;
        color: white;
    }
    .footer .right-part-footer .latest-heading::after {
        content: "";
        display: block;
        max-width: 66px;
        padding-top: 10px;
        border-bottom: 1px solid #f9bf11;
    }
 }
 @media (min-width:1232px){
    .showcase{
        margin-top: 84px;
    }
    .showcase ul li{
        max-width: 364px;
        padding: 32px 0 0 34px;   
    }
    .showcase ul li .sub-showcase {
        width: 296px;
        height: 152px;
        margin-top: 26px;
    }
    .content-holder {
        padding: 0px 40px 0px 40px;
    }
    .header .side-bar .search {
        margin-right: 50px;
    }
    .header .side-bar .cart {
        margin-right: 30px;
    }
    .banner {
        margin: 234px 10px 0px 0px;
    }
    .header .content-holder {
        margin-top: 65px;
    }
    .banner ul li {
        display: inline-block;
        margin: 0px 0px 0px 82px;
    }
    .banner ul li:first-child {
        margin: 0px;
    }
    .showcase ul li:nth-child(3){
        display:inline-block;
        margin-left:20px;
    }
    .latest-furniture {
        margin-top: 118px;
    }
    .latest-furniture ul {
        margin-top: 60px;
    }
    .latest-furniture ul li .image-holder {
        height: 177px;
    }
    .latest-furniture li:nth-child(4) {
        display: inline-block;
        margin-left: 20px;
    }
    .latest-furniture .content-holder .arrow-holders{
        display: none;
        border:none;
    }
    .latest-furniture .ul-holder {
        margin-bottom: 0px;
    }
    .why-us {
        margin-top: 96px;
    }
    .why-us .content-holder {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left:0px;
    }
    .why-us .content-holder::after {
        content: "";
        clear: both;
        display: table;
    }
    .why-us .image-why-us{
        width: 50%;
        height: 567px;
        float: left;
        background-image: url(../images/why-us-bg-2.jpg);
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .why-us .why-contents{
        float: right;
        margin: 0;
        width: 50%;
    }
    .why-us .why-us-container{
        padding-top:116px;
        padding-bottom: 110px;
        margin:0px 0px 0px 60px !important;
    }
    .why-us .why-contents .top {
        margin-top: 46px;
    }
    .why-us .why-contents >p {
        margin-top: 40px;
    }
    .why-us .why-contents .why-text:after {
        padding-top: 22px;
    }
    .why-us  .image-why-us{
        display: block;
    }
    .latest-posts {
        margin-top: 98px;
    }
    .latest-furniture .heading-furniture::after{
        padding-top: 22px;
    }
    .latest-posts .heading-posts::after {
        padding-top: 22px;    
    }
    .latest-posts .ul-holder{
        margin-top:48px;
    }
    .latest-posts ul li .image-holder {
        height: 192px;
    }
    .latest-posts .details .sub-text {
        margin-top: 18px;
    }
    .latest-posts .bottom-holder .details {
        padding-top:5px;
    }
    .latest-posts .details ul {
        margin-top: 8px;
    }
    .latest-posts .details .sub-text {
        font-size: 1rem;
        line-height: 1.4;
    }
    .latest-posts .ul-holder > ul >li:nth-child(3) {
        display: inline-block;
        margin-left: 20px;
    }
    .latest-posts .ul-holder {
        margin-bottom: 0px;
    }
    .latest-posts .content-holder {
        border-bottom: none;
    }
    .latest-posts .arrow-holders {
        display:none;
    }
    .footer .whole-footer {
        width: 1144px;
    }
    .footer .right-part-footer {
        width: 496px;
    }
    .footer .insta-columns{
        display: block;
    }
    .footer .right-part-footer .insta-columns{
        width:194px;
    }
    .footer .right-part-footer .insta-heading {
        font-size: 1rem;
        color: white;
    }
    .footer .right-part-footer .insta-heading::after {
        content: "";
        display: block;
        max-width: 66px;
        padding-top: 10px;
        border-bottom: 1px solid #f9bf11;
    }
    .footer .right-part-footer .insta-columns ul {
        margin-top:54px;
    }
    .footer .right-part-footer .insta-columns ul li {
        width: 91px;
        height: 91px;
        background :red;
        display: inline-block;
        margin-top: 10px;
    }
    .footer .right-part-footer .insta-columns ul li img{
        width: 100%;
        height: 100%;
    }
    .footer .right-part-footer .insta-columns ul li:nth-child(1),.footer .right-part-footer .insta-columns ul li:nth-child(2) {
        margin-top:0px;
 
     }
    .footer .right-part-footer .insta-columns ul li:nth-of-type(even) {
       margin-left:8px;
    }
    .discounts {
        width: 100%;
        margin-top: 90px;
    }
    .discounts .content-holder {
        padding-top: 86px;
        padding-bottom: 78px;
    }
    .discounts .discounts-contents .discounts-text:after {
        padding-top: 22px;
    }
    .discounts .discounts-contents >p {
        margin-top: 32px;
    }
    .discounts form {
        margin-top: 28px;
    }
    .discounts form .button {
        margin-top: 40px;
    }
    .new-collection {
        margin-top: 100px;
    }
    .new-collection .heading-collection::after {
        padding-top: 22px;
        max-width: 66px;
    }
    .new-collection .select-collection ul {
        margin-top: 38px;
    }
    .new-collection .ul-holder {
        margin-top: 66px;
    }
    .new-collection .ul-holder ul li {
        width: 100%;
        height: 232px;
        max-width: 362px;
    }
    .contact-us {
        margin-top: 100px;
    }
    .contact-us .content-holder {
        padding-top: 104px;
        padding-bottom: 91px;
    }
    .contact-us .contact-heading .get-in-touch {
        margin-top: 12px;
    }
    .contact-us .details .top{
        margin-top: 50px;
    }
    .contact-us .details .lower {
        margin-top: 44px;
    }
    .contact-us .contact-middle {
        width: 945px;
    }
    .contact-us  .contact-form form input{
        width: 618px;
    }
    .contact-us .contact-form form textarea{
        width: 618px;
        height: 178px;
    }
    .contact-us .contact-form form .button {
        margin-top: 28px;
    }
    .footer{
        margin-top: 0px;
    }
    .footer .content-holder {
        padding-top: 85px;
        padding-bottom: 74px;
    }
    .footer .main-text .more {
        margin-top: 38px;
    }
    footer .main-text {
        padding-bottom: 38px;
    }
    .footer .links {
        margin-top: 40px;
    }
    .footer .products-column ul {
        margin-top: 30px;
    }
    .featured-product .featured-text .know-more {
        cursor:pointer;
    }
}