.main-wrapper{
    width: 100%;
}
.header{
    width: 100%;
    background-color: #7dd9e8;
}
.content-holder{
    width: 940px;
    padding: 0px 42px 0px 42px;
    max-width: 940px;
    margin: 0 auto;
}
.navigation-bar{
    width: 100%;
    background-color: #f5f5f5;
}
.main-content{
    width: 100%;
    margin-top: 30px;
}
.recent {
    width: 194px;
    height: 605px;
    background: #f5f5f5;
}
.entries{
    width:518px;
    height: 605px;
    margin-left: 26px;
    margin-right: 24px;
}
.video{
    height: 605px;
    width: 176px;
    font-size: 11px;
    background: #f5f5f5;
    
}
.footer{
    width:100%;
    background: #727272;
    margin-top:32px;
}
