.logo{
    margin-right: 30px;
}
.search-holder{
    width:336px;
    padding-top:40px;
}
.search-text{
    width: 227px;
    padding: 5px 0px 5px 10px;
    height: 10px;
    background-image: url("../images/search-background.png");
}
.search-text input[type="text"]{
    width:227px;
    font-size: 10px;
    background: none;
    border: none;
}
.search-icon{
    padding:5px 4px 6px 5px;
    background-color: #cceef7;
}
.search-icon-button{
    margin-left: 1px;
    padding:5px 8px 5px 4px;
    background-image: url("../images/search-button-bg.png");
}
.search-button{
    margin-left: 7px;
    height:20px;
    padding:4px 7px 4px 8px;
    width:53px;
    background: url("../images/search-bg.png") no-repeat;
    border: none;
    font-size: 10px;
    color:white;
}  
.user{
    padding-top:28px;
    width: 138px;
}
.user p{
    margin-bottom: 7px;
    text-align: right;
    font-weight: 600;
}
.short-nav{
    font-size: 11px;
}
.short-nav ul li{
    font-weight: 600;
    display: inline;
}
.name-title{
    font-size: 15px;
}
.action{
    width: calc(100% - 314px);
    padding:14px 0 14px 12px;
    font-size: 14px;
}
.action ul{
    width: 480px;
}
.action ul li{
    display:inline;
    padding-right: 30px;
}
.action .last{
    padding-right:0px;
}
.invites-requests{
    width:300px;
    padding:12px 0 12px 0;
}
.invites{
    width:140px;
    font-size: 12px;
}
.invites .image-holder{
    display: inline-block;
    height: 17px;
    width: 15px;
}
.requests a{
    color:  #a9a9a9;
    width:140px;
    font-size: 12px;
    text-align: right;
    
}
.requests .image-holder{
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-right:4px;
}

/* main */
/* recent */

.recent ul li:first-child{
    background-color : #2fc1da;
}
.recent ul li{
    padding: 13px 12px 13px 12px;
    width:170px;
    font-size : 11px;
    overflow: auto;
    zoom:1;
    line-height: 1.1;
}
.recent .text{
    width:139px;
}
.recent  .heading{
    color: white;
    font-size:16px;
}
.recent ul li:hover{
    background: white;
}
.recent ul li:first-child:hover{
    background: #2fc1da;
}
/* recent--end */
/* entries */

.entries .heading{
    font-size:22px;
}
.top-nav{
    margin-top: 8px;
    font-size: 11px;
    border-bottom: 2px solid #2fc1da;
}
.top-content{
    width:258px;
    height:52px;
    padding-top:12px;
    text-align: center;
}
.all-entries{
    margin-right:2px;
    background:url("../images/all-entries-bg.png");
}
.subscribed{
    padding-top:12px;
    background:url("../images/subscribed.png");
}
.sub-container{
    padding: 13px 10px 0px 10px;
}
.sub-contents{
    width :114px;
    height: 18px;
    background: url("../images/nav-sub-contents-dark.png");
    padding-top:10px;
}
.sub-contents:hover{
    background: url("../images/nav-sub-contents-blue.png");
    color: white;
}
.sub-contents:first-child{
    margin-right: 10px;
}
.sub-container .active{
    background: url("../images/nav-sub-contents-blue.png");
    color: white;
}
/* entries--end */
/*people */
.people ul{
    list-style-position:inside;
}
.people ul > li {
    width: 518px;
    padding:15px 0 15px 0;
    border-bottom: 2px solid #d8d8d8;
}
.people .people-text{
    width: calc(100% - 79px);
    height:70px;
}
.people-text .head{
    font-size:15px;
}
.people-text .extra{
    margin-bottom: 4px;
    font-size: 12px;
    color : #2fc1da;
    font-weight:600;
}
.people-text .red{
    color: #d63d1b;
}
.people-text .sec{
    font-size:12px;
    margin-top:6px;
    color: #6b6b6b;
}
.sec .author{
    color: #2fc1da;
}
.sec .sub-status{
    color: green;
}
.sec .topic{
    color: #2fc1da;
}
.sec .bold{
    font-weight: 600;
}
/* end-people */
/* video */

.video li{
    height:15px;
    width: 156px;
    padding:10px 10px 10px 10px;
}
.video li:hover{
   background-color: white;
}
.video ul li:first-child{
    height: 16px;
    padding: 13px 12px 13px 12px;
    font-size: 16px;
    background-color : #2fc1da;
    color: white!important;
}
/* video--end */
/* footer */
.footer .content-holder{
    height: 13px;
    font-size:10px;
    color: white;
    padding:16px 0 16px 0;
}
.about-list{
    width : calc(100% - 86px);
}
.about-list ul li{
    display: inline;
    padding-right: 7px;
}
.about-list ul li:before{
    content: "•\00a0\00a0";
}
.about-list ul li:first-child:before{
    content: '';
}
/* footer--end*/
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    clear: both;
    content: '';
    display: table;
}