.carousel-container{
    width:150px;
    height:150px;
    position: relative;
    box-sizing: border-box;
    background-color: red;
    overflow: hidden;
}   
.carousel-image-wrapper{
    position: absolute;
    width: 450px;
    display: inline-block;
}
.carousel-image-wrapper img{
    float: left;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}