.main-wrapper{
    width:100%;
}
.header{
    width:100%;
}
.content-holder{
    padding: 0px 16px 0px 16px;
    margin: 0 auto;
    max-width: 940px;
    width:calc( 100% - 32px);
}
.left {
    float: left;
}
.right {
    float: right;
}
.dropdown{
    width:100%;
    background: #95B0B5;
}
.main-content{
    width: 100%;
    margin-top: 24px;
}
.footer{
    width:100%;
    background: #727272;
    margin-top:32px;
}
.navigation-bar{
    background: #f5f5f5;
    width:100%;
}
.recent {
    width: 20.90%;
    max-width: 194px;
    height: 605px;
    background: #f5f5f5;
    margin-top:8px;
}
.video{
    height: 605px;
    letter-spacing: 0.5px;
    max-width: 176px;
    font-size: 11px;
    background: #f5f5f5;
    margin-top:8px;
    
}