.main-wrapper{
    width:100%;
}
.header{
    width:100%;
}
.content-holder{
    padding: 0px 16px 0px 16px;
    margin: 0 auto;
    width:calc( 100% - 32px);
}
.left {
    float: left;
}
.right {
    float: right;
}
.dropdown{
    width:100%;
    background: #95B0B5;
}
.main-content{
    width: 100%;
    margin-top: 24px;
}
.footer{
    width:100%;
    background: #727272;
    margin-top:32px;
}