/* top header */
.top-header {
    width:100%;
    background-color: #7dd9e8;
}
.top-header div{
}
.top-header .logo-search{
    width: calc(100% - 50px);
}
.top-header .search-form{
    display:none;
}
.top-header .small-button-holder{
    background: white;
    width:33px;
    height:33px;
    cursor:pointer;
    border-radius: 17px;
}
.top-header .search-button{
    width:33px;
    height:33px;
    cursor:pointer;
    background : url('../images/search-alt.png') no-repeat;
    border:none;
    border-radius: 17px;
    background-position-x: center;
    background-position-y: center;
}
.top-header .logo{
    margin:0;
}
.top-header .search-holder{
    padding-top:28px;
}
.top-header .user{
    display:none;
}
.dropdown.invites-requests{
    margin-top:25px;
}
.dropdown.action{
    padding:14px 0px 14px 0px;
}
.logo-search .left-part{
    width:100%;
}
.hamburger-menu{
    padding-top:33px;
}
.hamburger-menu span{
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: #275056;
  border-radius: 3px;
}
.dropdown{
    font-size:18px;
    display: none;
}
.dropdown .sec-user{
    font-size:20px;
    width:100%;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:2px solid #324B4F;
}
.dropdown a{
    color :#324B4F;
}

.dropdown img{
    display:none;
}
.dropdown .action{
    width:100%;
    border-bottom:2px solid #324B4F;
}
.dropdown .invites-requests{
    margin-top:10px;
}
    
.dropdown .action li{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.dropdown .sub-div{
    padding:10px 0 10px 0;
    margin:0 auto;
}
.dropdown .invites-requests .image-holder{
    margin-right:8px;
}
.dropdown .requests{
    width: 100%;
}
.dropdown .logout-settings{
    width:100%;
    margin-top:80px;
    color:white;
    min-height:50px;
}
.dropdown .logout-settings .settings{
    background: #324B4F;
    width: 50%;
    min-height:50px;
    text-align: center;
}
.logout-settings p{
    padding-top:12px;
}
.logout-settings .logout{
    background: #C1423F;
    text-align: center;
    width:50%;
    min-height:50px;
}
.logout-settings .l-sub-div{
    width:100%;
}
.navigation-bar{
    display:none;
}
/* --end top header */
/* main-content */
.main-content .entries h1 {
    font-weight: 300;
}
.entries{
    margin: 0 auto;
}
.main-content .recent{
    display:none;
}
.main-content .video{
    display: none;
}

.entries{
    width: 100%;
    max-width:519px;
}
.entries .top-content span{
    display: inline-block;
}
.entries .top-content img{
    display:inline-block;
    margin-left:12px;
}
.entries .top-content{
    text-align: center;
    width:47%;
    height: 30px;
    background-color: #7dd9e8;
    border-radius: 10px;
    margin:2px;
}
.top-content .head-holder{
    width:75%;
    text-align: center;
}
.entries .top-content span{
    padding-top:6px;
    color:white;
}
.entries .top-nav{
    width:100%;
    margin-top:15px;
}
.top-nav .sub-container{
    display:none;
}
.people ul{
    list-style-position:inside;
    width:100%;
}
.people ul > li {
    width:100%;
    padding:15px 0 15px 0;
    border-bottom: 1px solid #d8d8d8;
}
.people .people-text{
    width: calc(100% - 79px);
    min-height:70px;
}
.people-text .head{
    font-size:14px;
    font-weight:500;
    letter-spacing: 0.4px;
    padding-bottom: 3px;
}
.people-text .extra{
    margin-top:2px;
    margin-bottom: 4px;
    font-size: 10px;
    font-weight: 700;
    color : #2fc1da;
}
.people-text .red{
    color: #d63d1b;
}
.people-text .sec{
    font-size:11px;
    letter-spacing: 0.5px;
    margin-top:6px;
    color: #6b6b6b;
}
.sec .author{
    color: #2fc1da;
}
.sec .author:hover{
    color:teal;
}
.sec .sub-status{
    color: green;
}
.sec .topic{
    color: #2fc1da;
}
.sec .topic:hover{
    color: teal;
}
.sec .bold{
    font-weight: 600;
}
/* --end main content -- */
/* footer */

.about-list a:hover{
    color: #2fc1da;
}
.footer a{
    color:white;
}
.footer .content-holder{
    background: #727272;
    color: white;
}
.about-list{
    margin-top:15px;
    width:calc(100% - 100px);
}
.about-list ul{
    width:100%;
    font-size: 15px;
}
.about-list li{
    width:100%;
    margin:10px 0px 10px 0px;
}
.about-list ul li:first-child{
    margin-top:0px
}
.about-list ul li:before{
    content: "";
}
.about-list ul li:first-child:before{
    content: '';
}
.copyright{
    margin:65px 0 20px 0px;
    width:100px;
    font-size: 12px;
}
.copyright p{
    text-align: center;
}
    
/*--end footer */
@media  (min-width: 768px) {
    .dropdown .action{
        display: none;
    }
    .top-header .search-form{
        display:inline;
    }
    .top-header .search-holder{
        width: calc(100% - 247px);
        padding-top:40px;
    }
    .top-header .search-holder .search-text{
        margin-right:1px;
    }
    .top-header .search-holder input{
        display: block;
        width:254px;
        height:20px;
        background: #caeff7;
        border:none;
        border-radius: 10px 0px 0px 10px;
        font-size:10px;
        text-indent: 10px;
    }
    .top-header .search-holder .search-icon-button{
        display: block;
        background: #caeff7;
        border-radius: 0px 10px 10px 0px;
        width:20px;
        height:20px;
        margin-right:10px;
    }
    .top-header .search-holder .first-search-button{
        cursor:pointer;
        background : url('../images/search.png') no-repeat;
        border:none;
        width:20px;
        height:20px;
        border-radius: 0px 10px 10px 0px;
        background-position-x: center;
        background-position-y: center;
 
    }
    .top-header .search-holder .search-button-form{
        background: #264c55;
        border: none;
        width: 53px;
        height: 20px; 
        border-radius: 10px 10px 10px 10px;
        color:white;
        font-size: 9px;
        cursor: pointer;
    }
    .top-header .search-holder .small-button-holder{
        display: none;
    }
    .navigation-bar{
        display: block;
        width:100%
    }
    .navigation-bar .bar-invites-requests{
        display: none;
    }
    .navigation-bar .bar-action{
        width: 100%;
        padding:14px 0 12px 9px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1.1px;
        line-height: 1.2;
    }
    .navigation-bar .bar-action ul{
        width:100%;
    }
    .navigation-bar .bar-action ul li{
        display:inline-block;
        padding-right: 30px;
    }
    .navigation-bar .bar-action .last{
        padding-right:0px;
    }
    .dropdown .content-holder{
        width:60%;
    }
    .main-content .entries{
        width:calc(100% - 217px);
        float:left;
    }
    .main-content .video {
        display:inline;
    } 
    /* entries */
    .entries .top-content span {
        color: black;
        padding-top:0px;
    }
    .top-content > span {
        letter-spacing: 1.2px;
        padding-top:0px !important;
    }
    .entries .top-nav img{
        display:none;
    }
    .entries .top-nav{
        margin-top: 8px;
        font-size: 11px;
        border-bottom: 1px solid #2fc1da;
    }
    .entries .top-content{
        width:49.8%;
        height:52px;
        padding-top:12px;
        text-align: center;
        margin:0px;
        border-radius: 20px 20px 0px 0px;
    }
    .entries .all-entries{
        background: #f5f5f5;
    }
    .entries .subscribed{
        padding-top:12px;
        background: #f5f5f5;
    }
    .top-nav .sub-container{
        display: inline-block;
        width:92.24%;
        padding: 13px 10px 0px 10px;
    }
    .sub-contents{
        width :114px;
        height: 28px;
        background: #dddddd;
        border-radius: 10px 10px 0px 0px;
    }
    .sub-contents span{
       display: inline-block;
       margin-top :9px;
       margin-bottom:10px;
    }
    .sub-contents a{
        display: block;
    }
    .sub-contents span{
        width:100%;
        height:50%;
    }
    .sub-contents:hover{
        background: #86cbd7;
    }
    .sub-contents span:hover a{
        color:white;
    }
    .sub-container .active{
        background: #31bfd7;
    }
    .sub-container .active span a{
        color:white !important;
    }
    /* --end entries-- */
    /* video */
    .video a{
        display: block;
    }
    .video span{
        display: inline-block;
        height:15px;
        max-width: 156px;
        padding:11px 11px 6px 12px;
        font-size:11px;
        
    }
    .video li:hover{
       background-color: white;
    }
    .video .odd-padding{
        padding:14px 10px 6px 12px;
    }
    .video ul li:first-child{
        height: 16px;
        padding: 12px 12px 11px 12px;
        font-size: 17px;
        background-color : #2fc1da;
        color: white!important;
    }
    /*--end video --*/
}
@media  (min-width: 992px) {
    .top-header .logo-search{
        width:calc(100% - 138px);
    }
    .top-header .user{
        display:inline;
    }
    .top-header .user{
        padding-top:28px;
        width: 138px;
    }
    .top-header .user p{
        margin-bottom: 7px;
        text-align: right;
        font-weight: 600;
    }

    .navigation-bar .bar-action{
        display:inline-block;
        width: calc(100% - 314px);
    }
    .navigation-bar .bar-invites-requests{
        display: inline-block;
    }
    .navigation-bar .bar-invites-requests .text-holder{
        margin-top:2px;
    }
    .navigation-bar .bar-invites-requests .image-holder{
        margin-right:8px;
    }
    .navigation-bar .bar-invites-requests{
        width:300px;
        height:14px;
        padding:13px 0 13px 0;
        font-size: 11.5px;
    }
    .navigation-bar .bar-invites{
        width:140px;
    }
    .navigation-bar .bar-invites .image-holder{
        position: relative;
        display: inline-block;
        height: 17px;
        width: 15px;
    }
    .navigation-bar .bar-requests a{
        color:  #a9a9a9;
        width:140px;
        text-align: right;
        
    }
    .navigation-bar .bar-requests .image-holder{
        display: inline-block;
        height: 17px;
        width: 17px;
       
    }
    
    .top-header .short-nav{
        font-size: 11px;
    }
    .top-header .short-nav a:hover{
        color:#727272;
    }
    .top-header .short-nav ul li{
        font-weight: 600;
        display: inline-block;
    }
    .main-content .video{
        width: 23.64%;
    }
    .top-header .hamburger-menu{
        display:none;
    }
    
    .main-content .recent{
        display: block;
        margin-right:26px;
    }
    .main-content .recent a{
        display: inline-block;
        line-height:1.4;
    }
    .main-content .recent ul li:first-child{
        background-color : #2fc1da;
    }
    .main-content .recent ul li{
        padding: 13px 12px 13px 12px;
        font-size : 11px;
    }
    .main-content .recent .second li{
        padding: 10px 0 10px 12px;
    }
    .main-content .recent ul .top-header-list{
        padding: 12px 12px 11px 12px;
    }
    .main-content .recent .text{
        width:139px;
    }
    .main-content .recent  .heading{
        color: white;
        font-size:17px;
    }
    
    .main-content .recent ul li:hover{
        background: white;
    }
    .main-content .recent ul li:first-child:hover{
        background: #2fc1da;
    }
    .about-list{
        margin-top: 0px;
    }
    .about-list ul li{
        display: inline;
        padding-right: 7px;
    }
    .about-list ul li:before{
        content: "\2022\00a0\00a0";
    }
    .about-list ul li:first-child:before{
        content: '';
    }
    .copyright{
        margin:0px;
        width:auto;
        font-size: 10px;
    }
    .copyright p{
        text-align: center;
    }
    .about-list ul{
        width:100%;
        font-size: 10px;
    }
    .footer .content-holder {
        height: 13px;
        padding: 16px 32px 16px 32px;
        font-size: 10px;
        color: white;
    }
}
/* media queries */
