body{
    background-color: #73D6C3;
    font-family: sans-serif;
}

.image-row{
    width:100%;
}
.image-row:first-child{
    margin-top:10px;
    margin-bottom: 20px;
}
.image-holder-left{
    float:left;
}
.image-holder-left{
    float:right;
}
.clearfix{
    clear: both;
    content: '';
    display: table;
}
.name-holder h1{
    margin-bottom: 10px;
    font-size: 30px;
}
.sub-text{
    font-size: 20px;
}
.details{
    margin-top:92px;
}
.details span{
    display:block;
    margin-bottom: 8px;
}
ul li {
    display: inline-block;
}
.list-holder{
    margin-left:30px;
    margin-top:10px;
    padding-left:25px;
}
img{
    height: 85px;
    width: 85px;
}