.wrapper{
    position: relative;
    height: 100%;
}

.header{
    width: 100%;
    background-color: #2d323c;
    padding: 10px 20px 10px 20px;
}

.header > div{
    display: inline-block;
}

.heading{
    width: 20%;
}

.main .main-container{
    margin-top: 60px;
    display: grid;
    min-height: 500px;
    grid-template-columns: 15% 35% 35% 15%;
}

.main-container .effects-filters .trim{
    display: block !important;    
}

.main-container .tools-resources .trim-audio{
    display: block !important;    
}

.main-container .box-content{
    display: grid;
    grid-template-columns: 85% 15%;    
}

.timeline .timer > div{
    display: inline-block;
}

.timeline .slider{
    margin-top:6px;
    width: 100%;
}

.timeline .video-audio{
    margin-top: 10px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 4% 96%;    
}

.video-current .current-video-holder{
    width:100%;
    height: auto;
    background-color: black;   
}

.video-all .all-video-holder{
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
}

.video-all .all-video-holder canvas{
    width: 100%;
}

.animation-div{
    height: 100%;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    display: inline-block;   
    cursor: pointer;
}
.music-div{
    height: 100%;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    display: inline-block;   
    cursor: pointer;
}

.text-pane-div{
    height: 100%;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    display: inline-block;   
    cursor: pointer;
}

.warning-popup{
    position:fixed;
    z-index: 200;
    bottom: -60px;
    right:3%;
    width:250px;
    min-height: 40px;
    border-radius: 20px;
    padding: 0 10px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: center;
    transition: bottom 0.4s ease-in-out;
    overflow-y: hidden;
    text-align: center;
}

.mobile-popup{
  position: absolute;
  background: #2d323c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  vertical-align: center;
  width:100%;
  height: 100%;
  z-index: 200;
  display: none;
}

.mobile-text{
 display: block;
 margin: 0 auto; 
}