body{
	background-color: #252830;   
	font-family: 'Muli', Arial, Helvetica ,sans-serif;
}
.header .text-controls{
  float: right;
}
.header .text-controls .font-size{
  padding:0px;
}

.header .text-controls input{
  width:100%;
  height: 100%;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.header .text-controls >ul >li{
  display: inline-block;
  width: 30px;
  padding-top: 4px;
  height: 30px;
  border-radius: 5px;
  background-color: #5b606b;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}
.header .text-controls >ul >li:hover{
  background-color: #8d929e;
}
.header .text-controls >ul >li img{
  height: 14px;
  width: 14px;
}
.header .text-color{
  position: relative;
}
.header .text-color:hover .text-color-tool{
  display: block;
}
.header .bg-color{
  position: relative;
}
.header .bg-color:hover .bg-color-tool{
  display: block;
}
.header .dropdown-content{
 z-index: 100;
 position: absolute;
 background-color: #f4f9ff;
 width:200px;
 height: auto;
 left: -150px;
 border-radius: 10px;
 display: none;
}
.header .dropdown-content ul{
  margin-top:10px;
  margin-bottom:10px;
  width: 100%;
}
.header .dropdown-content ul li{
  display: inline-block;
  width:30px;
  height: 30px;
}
.header .dropdown-content ul .white{
  border:1px solid grey;
  background-color:white;
}
.header .dropdown-content ul .black{
  background-color:black;
}
.header .dropdown-content ul .red{
  background-color:red;
}
.header .dropdown-content ul .teal{
  background-color:teal;
}
.header .dropdown-content ul .skyblue{
  background-color:skyblue;
}
.header .dropdown-content ul .green{
  background-color:green;
}

.header .dropdown-content ul .yellow{
  background-color:yellow;
}
.header .dropdown-content ul .orange{
  background-color:orange;
}

.header .bg-color .dropdown-content .transparent{
  background-color: #a3abbd;
  margin-bottom:10px;
  color:white;
  width: 40%;
  border-radius: 5px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}





















.header .bold-btn{
  font-weight: 800;
}
.header .italics-btn{
  font-style: italic;
}
.header .underline-btn{
  text-decoration: underline;
}
.main .main-container > div{
  padding: 0px 20px 0px 20px;
}
.main-container .boxes{
  width: 100%;
  border-radius: 10px;
  background-color: #2d323c;
  min-height: 100px;
  min-width: 100%;
}
.main-container .boxes .box-heading{
  display: grid;
  grid-template-columns: 90% 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5b606b;
}
.main-container .boxes .box-content{
	padding:5px;
	font-size: 13px;
	cursor: pointer;
}
.main-container .boxes .box-content:hover{
 color: #a3abbd; 
}
.main-container .boxes .box-content .check-image img{
  width:20px;
  height: 20px;
}

.main-container .current-file{
  font-size: 14px;
  color: #a8aabc;
}
.main-container .current-file .current-filename{
  color: white;
}

.main-container .effects-filters .trim .trim-heading{
  display: grid;
  padding: 0px;
  grid-template-columns: 85% 15%;
}

.main-container .boxes .box-content:nth-of-type(odd){
	background-color: #303640;
}
.main-container .boxes .box-content:last-child{
	margin-bottom: 10px;
}
.main-container .tools-resources > div:nth-child(1){
  margin-top:0px;
}
.main-container .tools-resources > div{
  margin-top:20px;
}
.main-container .effects-filters > div:nth-child(1){
  margin-top:0px;
}
.main-container .effects-filters > div{
  margin-top:20px;
}
.main-container  .boxes div{
  padding: 5px;
}
.main-container .box-content-dropdown ul{
  display: none;
}
.main-container .box-content-dropdown ul li{
  padding:10px;
  background-color: #5b606b;   
  color: white;
  border-radius: 6px;
}
.main-container .box-content-dropdown ul li:hover{
 background-color: #676878;
}
.main-container .box-content-dropdown ul li:nth-child(odd){
 border-bottom: 2px solid #2d323c;
}
.main-container .box-content-dropdown .drop-down-menu{
  display: none;
  margin-top:10px;   
}
/* .main-container .box-content .drop-down-menu input{
  width:30%;
  height: 25px !important;
  font-size: 12px;
  border-radius: 5px;
  padding:4px;
  border: 1px solid grey;
} */
.main-container .box-content .drop-down-menu input{
  width:100%; 
}
.main-container .box-content-dropdown .drop-down-menu .trim-button{
  margin-top: 10px;
  padding:8px;
  border-radius: 5px;
  background-color: #c1c7d4;
  width: 45%;
  color:black;
  display: inline-block;
}
.main-container .box-content-dropdown .drop-down-menu .trim-button:hover{
  background-color: white;
}
.main-container .box-content-dropdown .drop-down-menu .trim-cancel{
  margin-top: 10px;
  padding:8px;
  border-radius: 5px;
  background-color: crimson;
  width: 45%;
  color:white;
  display: inline-block;
  margin-right:4px;
}
.timeline{
  margin-top: 40px;
  padding: 15px 20px 15px 20px;
  width: 100%;
  box-shadow:  0 -4px 4px #5b606b;
  position: sticky;
	bottom: 0;
	background-color: #252830;
}
.timeline .timer .controls{
	float: left;
	display: flex;
	width:90%;
  justify-content:center;
}
.timeline .timer .controls img{
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.timeline .controls .playpause{
	padding: 8px 15px 8px 15px;
	border: 1px solid #5b606b;
	border-radius: 5px;
}
.timeline .controls .playpause > div{
	display: inline-block;
	
}
.timeline .controls .playpause .play{
	margin-right: 10px;
	
}
.timeline .timer .time{
    float: right;
    font-size: 20px;
}
.timeline .slider input{
    width: 96%;
    float:right;
}
.timeline .video-audio .video-text{
		display: flex;
		align-items:center;
    justify-content:center;
}
.timeline .video-audio .text{
  display: flex;
  align-items:center;
  justify-content:center;
}
.timeline .video-audio .music-text{
	display: flex;
	align-items:center;
	justify-content:center; 
}
.timeline .video-pane{
	height: 50px;
}
.timeline .music-pane{
  height: 50px;
  position: relative;
}
.timeline .text-pane{
  height: 50px;
  position: relative;
}
#video-current{
	width:100%;
}

.main-container .video-heading{
  font-size: 18px;
  margin-bottom: 15px; 
}
.main-container .current-audio-holder{
  display: none;
}

.text-div{
  border: 2px dotted white;
  min-width: 100px;
  min-height: 30px;
  position: absolute;
}

.inside-text-area{
  width:100%;
  height: 100%;
  border: none;
  resize: none;
  background: none;
}

.remove-text-btn{
  position: absolute;
  top:-5px;
  left:-5px;
  background-color: crimson;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  font-size: 6px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
}
.resize-text-btn{
  cursor: se-resize;
  position: absolute;
  bottom:-5px;
  right:-5px;
  background-color: skyblue;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  font-size: 10px;
  color:black;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
}
.text-left-strech{
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 7px;
  top:50%;
  transform: translateY(-50%);
  left:-7px;
  background-color: #e9efff;
}
.text-right-strech{
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 7px;
  top:50%;
  transform: translateY(-50%);
  right:-7px;
  background-color: #e9efff;
}

