body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width:100%;
}
a:active {
    color: #2fce72;
}
.new{
    color: red;
}
.wrapper{
    margin-top:8em;
    width:100%;
}
.navbar{
    width:100%;
    background-color:#2fce72;
    position: fixed;
    top:0;
    height:auto;
    margin-bottom: 5em;
}
.navbar .nav-wrapper{
    width:85%;
    margin:0 auto;
}
.nav-wrapper .name-holder{
    padding: 1.3em 0;
    float:left;
    width:60%;
    height: 4.3em;
    color:white;
    
}
.nav-wrapper .details{
    float:right;
    padding: 1.5em 0;
    height: 4.3em;
    width:40%;
    color:white;
    text-align: right;
}
.navbar .details span{
    font-size: 1.5em;
}
.wrapper{
    width:100%;
    height:950px;
}
.holder{
    background-color: white ;
    margin: 2em auto;
    padding-top:2em;
    padding-bottom: 2em;
    width:100%;
    min-height: 300px;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}
.topic{
    width:85%;
    margin: 0 auto;
}
.topic h2{
    margin-bottom: 2em;
}
.holder-github{
    background-color: #f0fcf4;
}
table {
    border-collapse: collapse;
    width: 80%;
    min-width: 400px;
    border: 1px solid black;
}  
th, td {
    text-align: left;
    padding: 8px;
}
td{
    border: 1px solid black;
}
  
 /*tr:nth-child(even){background-color: #f2f2f2} */
  
th {
    background-color: #373a2b;
    color: white;
}
@media screen and (max-width: 800px) {
    .wrapper{
        margin-top:10em;
        width:100%;
    }
    .details{
        margin-bottom:1em;
        width:100%;
        text-align: left;
        clear:both;
    }
    .details .remove{
        display: none;
    }
  }