.about{
  text-align: center;
  padding: 20px 0px;
  color: $accent-blue;

  @include e(showcase){
    margin-top: 26px;
    & > li{
      max-width: 384px;
      margin-top: 20px !important;
    }

    & >li:first-child{
      margin-top: 0px !important;
    }
  }

}