.carousel{
  
  @include e(content){
    & ul > li{
      cursor: pointer;
      display: inline-block;
      width:45%;
      max-width: 270px;
      max-height: 183px;

      @include mq(md){
        width:23%;
        margin: 0 5px 0 5px;
      }
    }

  }

  @include e(indicator){
    margin-top: 20px;

    & ul li:first-child(){
      background-color: $green;
    }

    & ul li{
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color:$lynch;
      display: inline-block;
      margin: 5px;

      &:hover {
        background-color: $green;
        cursor: pointer;
      }
    }
  }



  @include mq(lg){
    & ul > li:nth-child(3){
      display: inline-block;
    }
  }

  @include mq(xl){

    & ul > li{
      margin: 0px 10px;
    }

    & ul > li:nth-child(4){
      display: inline-block;
    }
  }
}