.card{
  width:80%;
  max-width: 350px;
  margin: 20px auto 0px auto;
  background-color: white;
  border: $almost-white;


  @include e(image-holder){
    cursor: pointer;
  }

  @include e(card-details){
    padding: 20px 0px;

    @include mq(lg){
      padding: 28px 0px;
    }

  }

  @include e(details-header){
    font-size: 16px;
    cursor: pointer;

    @include mq(md){
      font-size: 18px;
    }

    @include mq(lg){
      font-size: 20px;
    }
  }

  @include e(details-sub-content){
    margin-top: 5px;
    color: $lynch;
    font-size: 10px;
    cursor: pointer;

    @include mq(md){
      font-size: 12px;
    }

    @include mq(lg){
      margin-top: 8px;
      font-size: 16px;
    }
  }

  @include mq(lg){
    max-width: 450px;
  }
  
  @include mq(xl){
    max-width: 570px;
  }
}