.header{

  margin-top:8px;

  @include e(search){
    display: inline-block;
  }

  @include e(logo){
    width: 80px;
    display: inline-block;

    @include mq(md) {
      width: 100px;
    }
  }

  @include e(search-menu-holder){
    float: right;
    font-size: 18px;
    color: $blue-bayox;

    @include mq(md) {
        font-size: 24px;
    }
  }

  @include e(hamburger-menu){
    display: inline-block;
    margin-left: 4px;
    color: $blue-bayox;
  }

}