.navbar{
  display: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  color: $blue-bayox;
  & ul li{
    display: inline-block;
    margin-right: 44px;
  }

  & ul li:last-child{
    margin-right: 0px;
  }
  & a{
    color: $blue-bayox;
  }

  @include mq(lg){
    display: inline-block;
  }
}