.showcase{
  color: inherit;
  align-items: center;
  & > li > div{
    display: inline-block;  
    vertical-align: top;
  }
  & >li{
    text-align: start;
    margin: 0 auto;
    display: inline-block;
    max-width: 370px;
  }

  @include e(icon-holder){
    width:20%;
    text-align: center;
    font-size: 28px;

    @include mq(md){
      font-size: 32px;
    }

    @include mq(lg){
      font-size: 56px;
    }
  }

  @include e(description-heading){
    font-weight: 600;
    font-size: 16px;

    @include mq(md){
      font-size: 18px;
    }

    @include mq(lg){
      font-size: 22px;
    }
  }

  @include e(description-holder){
    width:78%;
    /* text-align: justify; */
    font-size: 10px;
    font-style: $font-family-sans;
    @include mq(md){
      font-size: 12px;
      line-height: 1.6;
    }
  }

  @include e(description-details){
    margin-top:16px;
  }
}